<%- include("header"); -%>

<h1 style="text-align: center">Welcome to the intro Session</h1>

<h2 style="text-align: center">This page is just abut the upbring og new things</h2>
<div style="text-align: center">
    <p>its more than content to the ideas</p>
    <p>its about mattersof contents to deal.</p>
</div>

<%- include("footer"); -%>
